.book-preview {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--clr1);
    border: var(--clr4) solid 1px;
    border-radius: 5px;
    padding: 5px;
}


.book-preview h2 {
    text-align: center;
    text-transform: capitalize;
}

@media (min-width: 800px) {
    .book-preview button {
        opacity: 0;
    }

    .book-preview:hover button {
        opacity: 1;
    }
}