.book-details-container {
    min-height: 90vh;
    padding: 30px;
}

.book-details {
    width: 1040px;
    margin: auto;
    display: flex;
    padding: 10px;
    gap: 15px;
    border: var(--clr4) solid 1px;
    border-radius: 5px;
    background-color: var(--clr3);
    margin-block-end: 15px;
}

.book-details-container .book-details-nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-block-end: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-details h2 {
    text-transform: capitalize;
}

.high {
    color: red;
}

.low {
    color: green;
}